.checkout-screen {
   /* height: 100vh; */
   margin-top: 30px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.columns {
   margin-bottom: 40px;
}
.items {
   width: 100%;
}
