.shards-navbar {
   height: 200px;
   /* background-image: url('../assets/cropped-CKs-burger-logo-optimized.jpg'); */
   /* background-image: url('public/assets/cropped-CKs-burger-logo-optimized.jpg'); */
   background-image: url('../cropped-CKs-burger-logo-optimized.jpg');
   background-position: center;
   background-color: white;
}
.navbar-brand {
   display: flex;
   align-items: flex-end;
   margin-left: 25px;
}
.collapse-nav-component {
   height: 100%;
   display: flex;
   justify-content: flex-end;
   margin-right: 25px;
   align-items: flex-end;
}
.restaurant-info a {
   margin-bottom: 10px;
}
.restaurant-info p {
   margin: 0;
}