/* .component-wrapper {
   
} */
.shards-navbar {
   height: 200px;
   background-color: transparent;
   background-image: url('../cropped-CKs-burger-logo-optimized.jpg');
   background-position: center;
   /* background-image: url('../assets/cropped-CKs-burger-logo-optimized.jpg'); */
   /* background-image: url('public/assets/cropped-CKs-burger-logo-optimized.jpg'); */
}
.navbar-brand {
   display: flex;
   align-items: flex-end;
   margin-left: 25px;
}
.collapse-nav-component {
   height: 100%;
   display: flex;
   justify-content: flex-end;
   margin-right: 25px;
   align-items: flex-end;
}
.restaurant-info a {
   margin-bottom: 10px;
}
.restaurant-info p {
   margin: 0;
}
@media (max-width: 767px) {
   .shards-navbar {
      background-size: 768px auto;
      height: 100px;
      background-position: top;
      background-repeat: no-repeat;
      /* background: url('../cropped-CKs-burger-logo-optimized.jpg') no-repeat scroll top; */
      /* height: 85px; */
   }
}
@media (max-width: 500px) {
   .shards-navbar {
      background-size: 501px auto;
      height: 100px;
      background-position: top;
      background-repeat: no-repeat;
      /* background: url('../cropped-CKs-burger-logo-optimized.jpg') no-repeat scroll top; */
      /* height: 85px; */
   }
}