.shards-navbar {
   height: 120px;
}
.navbar-brand {
   display: flex;
   align-items: flex-end;
   margin-left: 25px;
}
.collapse-nav-component {
   height: 100%;
   display: flex;
   justify-content: flex-end;
   margin-right: 25px;
   align-items: flex-end;
}
.restaurant-info a {
   margin-bottom: 10px;
}
.restaurant-info p {
   margin: 0;
}